/* 
- IMPORTS 
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Tenali+Ramakrishna&family=Uncial+Antiqua&display=swap" rel="stylesheet"');

/* 
- VARIABLES 
*/ 

 :root {
    --color-Turquesa: #00909E;
    --color-grisClaro: #DAE1E7;
    --color-grisOscuro: #666666;
    --color-azul: #142850;
    --color-AzulOceano: #27496D;
    --color-celeste: #1259c3;
}


/*
- GENERAL
*/

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: var(--color-grisClaro);
    margin-top: 170px;
}
h1{
    font-family: 'Uncial Antiqua', cursive;
}

/*
- CABECERA
*/

header {
    background-color: var(--color-Turquesa);
    padding: 20px;
    position: fixed;
    z-index: 3;
    top: 0px;

}

header .logo img{  
      
    height: 65px;
    width: 65%;
    margin-left: 10px;
}
header .logo{
    padding: 0px;
    height: 34px;    
}


header form {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    /*background-color: white;
    border: 1px solid var(--color-grisClaro);
    border-radius: 5px;
    padding: 0px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
}

header form input {
    border: solid 1px var(--color-grisClaro);
    display: block;
    width: 100%;
    padding: 7px 35px 7px 7px;
    border-radius: 5px;
    height: 40px;
    font-size: 1.5em;
    font-family: inherit;
    /*background: none;
    border: 0;
    width: 85%;
    margin: 5px 0px;
    padding-right: 5px;
    border-right: 2px solid var(--color-grisClaro);*/
}

header form input:focus,
form button:focus {
    outline: none;
}

header form button {
    position: absolute;
    right: 2px;
    height: 60%;
    background-color: white;
    border: none;
    border-left: solid 1px var(--color-grisClaro);
    color: var(--color-grisOscuro);
    cursor: pointer;

}

header .cuotas {
    margin: 20px 0;
    align-self: center;
}


/*
OPCION PARA COLOCAR EL ICONO DESDE EL CSS DENTRO DE UN ELEMENTO (NO FUNCIONA CON TODOS LOS ICONOS)

header a.cuotas::before {
    content: '\f09d';
    font-family: "Font Awesome\ 5 free";
    margin-right: 5px;
}
*/

header nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav button.burger {
    background-color: var(--color-azul);
    border: none;
    border-radius: 4px;
    padding: 3px 15px;
    margin-top: 10px;
}

/* es una prueba sobre cada link del menu*/
/* .BtnActivo :hover{    
    border-bottom: 1px solid var(--color-AzulOceano);
} */

menu li a{
        width: 20%;
        height: 100%;
}


/* cambio el aspecto cuando el boton tiene el foco*/



header nav button.burger:focus {
    outline: 1px solid white;
}

header nav button.burger i {
    color: white;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
}


/* Titulo y Subtitulo del carrito */


.miCompra{
    padding-top: 20px;

}
.miCompra h1{
    color: var(--color-grisOscuro);
    font-size: 30px;
    
}
.miCompra .iconoCarrito{
    color: var(--color-grisOscuro);
    vertical-align: 0px;
    
}
.miCompra p{
    padding-left: 5px;
    display: inline-block;
}


/*Ocultar lista de pasos para celulares*/



 .listaDePasos{
    font-family: 'Quicksand', sans-serif;
    color: black;
    display: none;
}

.misProductos{
    padding-top: 20px;
}
.misProductos h2{
    font-family: 'Uncial Antiqua', cursive;
    color: var(--color-grisOscuro);
    font-size: 25px;

}
.misProductos .iconoCuadricula{
    vertical-align: -2px;
}
.misProductos p{
    padding-left: 5px;
    display: inline-block;
}

/* Detalle de la compra*/

.detalleDeCompra{
    background-color: #fff;
    margin: 0px 5px;
    border-top: solid 1px grey;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
    
    
}
.caracteristica{
    display: flex;
    padding: 0px;
}


.caracteristica p{
    font-family: 'Quicksand', sans-serif;
    padding: 5px 5px;
    margin-bottom: 0px;
}

/* Contenido de la compra*/

.contenidoDeCompra{
    background-color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin: 0px 5px;
    border: solid 1px grey;

}
.contenidoDeCompra .imagen{
    display: none;
    
}
.contenidoDeCompra .cantidad{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    
}
.contenidoDeCompra .eliminar{
    padding: 2px 5px;
    vertical-align: 20px;
    margin-top: 5px;
}

/* Precio total*/

.precioTotal{
    padding-top: 50px;
}
.precioTotal h4{
    font-family: 'Quicksand', sans-serif;
    text-align: right;

}
/* Boton de siguiente*/

.botonSiguiente{
    padding: 20px 0px;
    
}
.botonSiguiente .siguiente{
    font-family: 'Quicksand', sans-serif;
    background-color: var(--color-AzulOceano);
}


/*
FOOTER
*/

.footer {
    padding: 20px;
    background-color: #142850;
}

.footer article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer article i {
    font-size: 35px;
    color: var(--color-Turquesa);
    display: flex;
    margin: 10px 0;
}

.footer article h4{
    color: var(--color-grisClaro);
    display: flex;
    margin: 20px 0;
}


.footer article p {
    color: var(--color-grisClaro);
    display: flex;
    margin: 10px 0;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes i{
    text-align: center;    
    padding: 5px;
    font-size: 28;
    color: var(--color-Turquesa);        
    /* flex-wrap: wrap; */
}

.copyright {    
    text-align: center;    
    
    color:var(--color-azul);
    font-size: 22px;
    
}



/* --- VERSION PARA TABLET --- */

@media(min-width:768px) {
    /*header form input {
        width: 92%;
    }*/
    header .cuotas {
        margin: 0;
        text-align: right;
    }
    header ul li {
        justify-content: space-between;
        padding-right: 12px;
    }
    header ul.usuario li:last-child {
        padding-right: 0;
    }
    .listaDePasos{
        display: block;
        padding: 0px;
    }
    .list-group-item.active{
        background-color: var(--color-AzulOceano);
    }
    .listaDePasos .cuadricula{
        vertical-align: -3px;
    }
    .listaDePasos .camion{
        vertical-align: -4px;
    }
    .listaDePasos .tarjeta{
        vertical-align: -4px;
    }
    .listaDePasos .verificado{
        vertical-align: -4px;
    }

    .contenidoDeCompra .imagen{
        display: block;   
    }
    img{
        width: 100%; 
        height: 100px;
        margin: 5px 5px;
    }
    .caracteristica p{
        text-align: center;
    }
    .caracteristica .precio{
        text-align: start;
    }
    .contenidoDeCompra .precioNumero{
        text-align: start;
    }
}



/* --- VERSION PARA ESCRITORIO --- */

@media(min-width:1024px) {
    section article h2 {
        font-size: 1.9rem;
    }
    .detalleDeCompra{
        margin-left: 30px;
    }
    .contenidoDeCompra{
        margin-left: 30px;
    }

    .misProductos{
        margin: 5px 0px;
        padding: 33px 30px
    }
    .botonSiguiente{
        text-align: center;
        padding-right: 140px;
    }
    footer article h4 {
        font-size: 1.3rem;
    }
    footer article p {
        font-size: 0.9rem;
    }
    footer .copyright {
        font-size: 0.7rem;
    }
}
