/* 
- IMPORTS 
*/ 

@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Tenali+Ramakrishna&family=Uncial+Antiqua&display=swap" rel="stylesheet"');

/* 
- VARIABLES  
*/ 

 :root {
    --color-Turquesa: #00909E;
    --color-grisClaro: #DAE1E7;
    --color-grisOscuro: #666666;
    --color-azul: #142850;
    --color-AzulOceano: #27496D;
    --color-celeste: #1259c3;
}


/*
- GENERAL
*/

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 170px;
    background-color: #142850;
    min-height: 100vh; 
}
h1{
    font-family: 'Uncial Antiqua', cursive;
}
h2{
    text-align: center;
    margin: 20px;
    color: rgba(0,0,0,0.5);
}
h3{
    text-align: center;
    margin-top: 10px;
    font-family: 'Uncial Antiqua', cursive;
}

/*
- CABECERA
*/

header {
    background-color: var(--color-Turquesa);
    padding: 20px;
    position: fixed;
    z-index: 3;
    top: 0px;

}

header .logo img{  
      
    height: 65px;
    width: 65%;
    margin-left: 10px;
}
header .logo{
    padding: 0px;
    height: 34px;    
}


header form {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.8rem;

}

header form input {
    border: solid 1px var(--color-grisClaro);
    display: block;
    width: 100%;
    padding: 7px 35px 7px 7px;
    border-radius: 5px;
    height: 40px;
    font-size: 1.5em;
    font-family: inherit;
    
}

header form input:focus,
form button:focus {
    outline: none;
}

header form button {
    position: absolute;
    right: 2px;
    height: 60%;
    background-color: white;
    border: none;
    border-left: solid 1px var(--color-grisClaro);
    color: var(--color-grisOscuro);
    cursor: pointer;

}

header .cuotas {
    margin: 20px 0;
    align-self: center;
}


/*
OPCION PARA COLOCAR EL ICONO DESDE EL CSS DENTRO DE UN ELEMENTO (NO FUNCIONA CON TODOS LOS ICONOS)

header a.cuotas::before {
    content: '\f09d';
    font-family: "Font Awesome\ 5 free";
    margin-right: 5px;
}
*/

header nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav button.burger {
    background-color: var(--color-azul);
    border: none;
    border-radius: 4px;
    padding: 3px 15px;
    margin-top: 10px;
}

/* es una prueba sobre cada link del menu*/
/* .BtnActivo :hover{    
    border-bottom: 1px solid var(--color-AzulOceano);
} */

menu li a{
        width: 20%;
        height: 100%;
}


/* cambio el aspecto cuando el boton tiene el foco*/



header nav button.burger:focus {
    outline: 1px solid white;
}

header nav button.burger i {
    color: white;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
}


/*FORMULARIO*/
.formulario{
   padding: 0px 10px;
}

.FormAdd{
    margin: 35px auto;
    width: 100%;
    background: #DAE1E7;
    padding: 7px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;   
}
.titulo{
    padding-bottom: 30px;
}
.form-control{
    font-size: 20px;
}



label{
    
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 25px;
}


input{
    font-family: 'Tenali Ramakrishna', sans-serif;
} 
.botones{
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
}
.botonAgregarProducto{
    width: 100%;
    height: 50px;
    background-color: var(--color-AzulOceano);
    border-radius: 10px;
    font-size: 24px;
    color: white;
    padding-top: 5px; 

}
.botonCancelar{
    width: 100%;
    height: 50px;
    background-color: red;
    border-radius: 10px;
    font-size: 24px;
    color: white;
    padding-top: 5px;
    

}
















/*
FOOTER
*/

.footer {
    padding: 20px;
    background-color: #142850;
}

.footer article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer article i {
    font-size: 35px;
    color: var(--color-Turquesa);
    display: flex;
    margin: 10px 0;
}

.footer article h4{
    color: var(--color-grisClaro);
    display: flex;
    margin: 20px 0;
}


.footer article p {
    color: var(--color-grisClaro);
    display: flex;
    margin: 10px 0;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes i{
    text-align: center;    
    padding: 5px;
    font-size: 28;
    color: var(--color-Turquesa);        
    /* flex-wrap: wrap; */
}

.copyright {    
    text-align: center;    
    
    color:var(--color-azul);
    font-size: 22px;
    
}




/* --- VERSION PARA TABLET --- */

@media(min-width:768px) {
    /*header form input {
        width: 92%;
    }*/
    header .cuotas {
        margin: 0;
        text-align: right;
    }
    header ul li {
        justify-content: space-between;
        padding-right: 12px;
    }
    header ul.usuario li:last-child {
        padding-right: 0;
    }
    .FormAdd{
        width: 80%;
    }
}



/* --- VERSION PARA ESCRITORIO --- */

@media(min-width:1024px) {
    section article h2 {
        font-size: 1.9rem;
    }
    .FormAdd{
        width: 90%;
    }
    .agregar{
     padding: 0px 100px
    }
    .cancelar{
        padding: 0px 100px
    }

    footer article h4 {
        font-size: 1.3rem;
    }
    footer article p {
        font-size: 0.9rem;
    }
    footer .copyright {
        font-size: 0.7rem;
    }
}
