
<%- include("./partials/head") %> 
    <!--HEADER: CABECERA Y MENÚ DE NAVEGACIÓN-->
      <!--caja contenedora-->
    <header class="container-fluid"> <!--caja contenedora de boostrap-->
        
            <!--caja que contiene el logotipo, el buscador y botón con un link-->
            <div class="row rowTitulologo">
                <!--caja que contiene el logotipo-->
                <div class="col-2 col-md-1 col-lg-1 logo">
                    <a href="/"><img src="/images/logo.png" alt="Logo MPKGames "></a>
                </div> 
                <div class="contenedorTiuloPag col-10 col-md-5 col-lg-3"><h1 class="h1TituloPagina">MPKGames</h1></div> 
                       
                <!--caja que contiene el buscador de juegos -->
                <div class="contBuscadorMd col-md-6 col-lg-7">                
                    <form action="/productos/search" method="get" class="search-form">
                        <input type="text" name="search" placeholder="Buscar tu Juego favorito" class="search-form_input">
                        <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
             
                <!--finaliza el div.row-->
            </div>

            <!--barra de navegación-->
            <div class="row rowBtnBarraIcon">
                    <div class="contenedorColumNav col-2 col-md-12 col-lg-12">
                    <nav class="navbar navbar-expand-md navbar-light bg-light">
            
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav">
                            <li class="nav-item ">
                              <a class="nav-link" href="/">Home<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
                                <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                              </svg></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/detalle">Detalle de producto</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/botones">Carga de producto</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" href="/registroUsuarios">Creá tu cuenta <i class="far fa-address-card "></i></span></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href=" ">Ingresá <i class="fas fa-sign-in-alt "></i></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/carritoCompras">Mis compras <i class="fas fa-shopping-basket "></i></a>
                              </li>
                        </ul>
                        </div>
                      </nav>
                    </div>

                
                <!--finaliza caja contenedora del menu-->

            <div class="contBuscador col-10 ">                
                <form action="" method="get" class="search-form">
                    <input type="text" name="search" placeholder="Buscar tu Juego favorito" class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
 
        <!--finaliza caja contenedora bootstrap-->
    </header>

    <!--SECCIÓN: BANNER-->
    <section class="banner ">
        <img src="images/Banner.jpg" alt="Banner ">
    </section>

    <!--****** SECCIONES: PRODUCTOS ****** -->

    <!--caja contendedora de bootstrap con padding superior e inferior de 5 (escala de boostrap)-->
    <div class="container py-5">

        <!--SECCIÓN: PRODUCTOS ULTIMA VISITA-->
        <section>

            <!--caja que contiene todos los productos de la ultima visita-->
            <div class="row productos">

                <!--caja que contiene el titulo de la sección-->
                <div class="titulo col-12">
                    <h2>
                        Ofertas en los Utimos Juegos 
                    </h2>
                </div>

                <!--caja de la grilla de bootstrap-->
                <div class="col-12 col-md-6 col-lg-3">

                    <!--caja que muestra la información del producto-->
                    <div class="contenido">
                        <!--ETIQUETA SEMANTICA-->
                        <figure>
                            <img src="images/horizon-zero-dawn-complete-edition-cover.jpg " alt="horizon ">
                        </figure>
                            <!--informacion-->
                        <article class="classArtIndex">
                            <!--precio-->
                            <h2>$48.17</h2>
                            <!--descuento-->
                            <span>-20% OFF</span>
                            <!--nombre del producto ??-->
                            <p class="parrafoArt0">Horizon Zero Dawn Complete Edition</p>
                            <!--icono de Consolas-->
                            <i class="fab fa-xbox Xbox"></i>
                            <i class="fab fa-playstation playStation"></i>
                            
                            <button type="button"  class="btn btn-primary btn-sm btnAgregarCarrito">Agregar al Carrito</button>
                        </article>
                        <!--finaliza contenido-->
                    </div>
                    <!--finaliza caja de grilla de boostrap-->
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="contenido">
                        <figure>                            
                            <a><img src="images/mafia-trilogy-cover.jpg" alt="Mafia Trilogy "></a>
                        </figure>
                        <article class="classArtIndex">
                            <h2>$52.39</h2>
                            <span>-28% OFF</span>
                            <p class="parrafoArt0">Mafia Trilogy</p>
                                <!--icono de Consolas-->
                                <i class="fab fa-xbox Xbox"></i>
                                <i class="fab fa-playstation playStation"></i>
                            <button type="button" class="btn btn-primary btn-sm btnAgregarCarrito">Agregar al Carrito</button>
                        </article>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="contenido">
                        <figure>
                            <img src="images/cyberpunk-2077-cover.jpg " alt="cyberpunk ">
                        </figure>
                        <article class="classArtIndex">
                            <h2>$51.79</h2>
                            <span>-28% OFF</span>
                            <p class="parrafoArt0">Cyberpunk 2077</p>
                                <!--icono de Consolas-->
                                <i class="fab fa-xbox Xbox"></i>
                                <i class="fab fa-playstation playStation"></i>
                            <button type="button" class="btn btn-primary btn-sm btnAgregarCarrito">Agregar al Carrito</button>
                        </article>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="contenido">
                        <figure>
                            <img src="images/marvels-avengers-beta-access-cover.jpg" alt="Marvel's Avengers Beta Access ">
                        </figure>
                        <article class="classArtIndex">
                            <h2>$20.40</h2>
                            <span>-30% OFF</span>
                            <p class="parrafoArt0">Marvel's Avengers Beta Access</p>
                                <!--icono de Consolas-->
                                <i class="fab fa-xbox Xbox"></i>
                                <i class="fab fa-playstation playStation"></i>
                            <button type="button" class="btn btn-primary btn-sm btnAgregarCarrito">Agregar al Carrito</button>
                        </article>
                    </div>
                </div>

                <!--finaliza el div.row-->
            </div>

            <!--FINALIZA SECCIÓN ULTIMA VISITA-->
        </section>

        <!--SECCIÓN: PRODUCTOS OFERTAS-->
        <section>

            <!--caja que contiene todos los productos de la ultima visita-->
            <div class="row productos">

                <!--caja que contiene el titulo de la sección-->
                <div class="titulo col-12">
                    <h2>
                        Ofertas de la semana
                    </h2>
                </div>

                <!--caja de la grilla de bootstrap-->
                <div class="col-12 col-md-6 col-lg-3">

                    <!--caja que muestra la información del producto-->
                    <div class="contenido">

                        <!--ETIQUETA SEMANTICA-->
                        <figure>
                            <img src="images/crusader-kings-iii-royal-edition-cover.jpg " alt=" ">
                        </figure>
                        <!--informacion-->
                        <article class="classArtIndex">
                            <!--precio-->
                            <h2>$64.92</h2>
                            <!--descuento-->
                            <span>28% OFF</span>
                            <!--nombre del producto ??-->
                            <p class="parrafoArt0">Crusader Kings III Royal Edition</p>
                               <!--icono de Consolas-->
                               <i class="fab fa-xbox Xbox"></i>
                               <i class="fab fa-playstation playStation"></i>
                            <button type="button" class="btn btn-primary btn-sm btnAgregarCarrito">Agregar al Carrito</button>
                        </article>

                        <!--finaliza contenido-->
                    </div>
                    <!--finaliza caja de grilla de boostrap-->
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="contenido">
                        <figure>
                            <img src="images/crusader-kings-iii-cover.jpg" alt=" ">
                        </figure>
                        <article class="classArtIndex">
                            <h2>$64.92</h2>
                            <span>-28% OFF</span>
                            <p class="parrafoArt0">Crusader Kings III Royal Edition</p>
                               <!--icono de Consolas-->
                               <i class="fab fa-xbox Xbox"></i>
                               <i class="fab fa-playstation playStation"></i>
                            <button type="button" class="btn btn-primary btn-sm btnAgregarCarrito">Agregar al Carrito</button>
                        </article>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="contenido">
                        <figure>
                            <img src="images/iron-harvest-cover.jpg " alt=" ">
                        </figure>
                        <article class="classArtIndex">
                            <h2>$37.10</h2>
                            <span>-38% OFF</span>
                            <p class="parrafoArt0">Iron Harvest</p>
                               <!--icono de Consolas-->
                               <i class="fab fa-xbox Xbox"></i>
                               <i class="fab fa-playstation playStation"></i>
                            <button type="button" class="btn btn-primary btn-sm btnAgregarCarrito">Agregar al Carrito</button>
                        </article>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="contenido">
                        <figure>
                            <img src="images/fifa-21-cover.jpg " alt=" ">
                        </figure>
                        <article class="classArtIndex">
                            <h2>$52.80</h2>
                            <span>20% OFF</span>
                            <p class="parrafoArt0">FIFA 21</p>
                               <!--icono de Consolas-->
                               <i class="fab fa-xbox Xbox"></i>
                               <i class="fab fa-playstation playStation"></i>
                            <button type="button" class="btn btn-primary btn-sm btnAgregarCarrito">Agregar al Carrito</button>
                        </article>
                    </div>
                </div>

                <!--finaliza el div.row-->
            </div>

            <!--FINALIZA SECCCIÓN OFERTAS-->
        </section>

    </div>

    
    <section class="container-fluid">
        <!--caja con el contenido principal de footer-->
        <div class="row">
            <!--contiene pago con tarjeta-->
            <div class="col-12 col-lg-4">
                <article class="classArtIndex">
                    <i class="fas fa-credit-card "></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p >Con MPK Games Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                    </p>
                </article>
            </div>
                <!--contiene envio gratis-->
            <div class="col-12 col-lg-4">
                <article class="classArtIndex">
                    <i class="fas fa-gift "></i>
                    <h4>Envío gratis desde $ 999</h4>
                    <p >Solo por estar registrado en MPK Games tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </article>
            </div>
                <!--contiene seguridad-->
            <div class="col-12 col-lg-4">
                <article class="classArtIndex">
                    <i class="fas fa-user-shield "></i>
                    <h4>Seguridad, de principio a fin
                    </h4>
                    <p>¿No te gusta? ¡Devolvelo! En MPK Games, no hay nada que no puedas hacer, porque estás siempre protegido.
                    </p>
                </article>
            </div>
        </section>
        <!--finaliza div.row-->
         <!--caja con el contenido principal de footer-->
         <!--FOOTER: PIE DE PAGINA-->
<%- include("./partials/footer") %> 
