<%- include("./partials/head") %> 

   <!--HEADER: CABECERA Y MENÚ DE NAVEGACIÓN-->

   <header class="container-fluid">
    <!--caja contenedora de boostrap-->
        <!--caja que contiene el logotipo, el buscador y botón con un link-->
        <div class="row rowTitulologo">
            <!--caja que contiene el logotipo-->
            <div class="col-2 col-md-1 col-lg-1 logo">
                <a href="/"><img src="/images/logo.png" alt="Logo MPKGames "></a>
            </div> 
            <div class="contenedorTiuloPag col-10 col-md-5 col-lg-3"><h1 class="h1TituloPagina">MPKGames</h1></div> 
                   
            <!--caja que contiene el buscador de juegos -->
            <div class="contBuscadorMd col-md-6 col-lg-7">                
                <form action="" method="get" class="search-form">
                    <input type="text" name="search" placeholder="Buscar tu Juego favorito" class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>
         
            <!--finaliza el div.row-->
        </div>

        <!--barra de navegación-->
        <div class="row rowBtnBarraIcon">
                <div class="contenedorColumNav col-2 col-md-12 col-lg-12">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
        
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item ">
                          <a class="nav-link" href="/">Home<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
                            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                          </svg></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/detalle">Detalle de producto</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/botones">Carga de producto</a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="/registroUsuarios">Creá tu cuenta <i class="far fa-address-card "></i></span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href=" ">Ingresá <i class="fas fa-sign-in-alt "></i></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/carritoCompras">Mis compras <i class="fas fa-shopping-basket "></i></a>
                          </li>
                    </ul>
                    </div>
                  </nav>
                </div>

            
            <!--finaliza caja contenedora del menu-->

        <div class="contBuscador col-10 ">                
            <form action="" method="get" class="search-form">
                <input type="text" name="search" placeholder="Buscar tu Juego favorito" class="search-form_input">
                <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>

    <!--finaliza caja contenedora bootstrap-->
</header>

        <div class="formulario container">
        <div class=" col-12 titulo">
            <h3 class="h3tituloAgreYMod">Agregar Juego</h3>
        </div>
        <form Class="FormAdd" action="#" method="POST">
    
            <div class="form-row">
                <div class="form-group col-12 col-md-6 col-lg-6">
                    <label for="nombreDelProducto">Nombre del Juego:</label>
                    <input type="text" name="nombreDelProducto" id="nombreDelProducto" class="form-control" placeholder="Ingrese el Nombre del juego" required>
                </div>            
    
                <div class="form-group col-12 col-md-6 col-lg-6">
                    <label clase="" for="codigo">Codigo del juego:</label>
                    <input type="number" name="codigo" id="codigo" class="form-control" placeholder="Ingrese el Codigo del juego" required>
                </div>  
                <div class="form-group col-12 col-md-6 col-lg-6">    
                    <label form="precioJuego">Precion del juego: </label> 
                    <input type="tex" placeholder="Ingrese precio del juego" class="form-control" name="precioProd" id="precioJuego" required>
    
                </div>
                <div class="form-group col-12 col-md-6 col-lg-6">    
                    <label form="tamanio">Tanmaño del juego: </label> 
                    <input type="tex" placeholder="Ingrese tamaño del juego" class="form-control" name="tamanioJue" id="tamanio" required>
    
                </div>
  
            </div>

            <div class="form-row">

                <div class="form-group col-12 col-md-6 col-lg-6">    
                    <label form="idioma">Idioma del juego: </label> 
                    <input type="tex" placeholder="Ingrese idioma del juego" class="form-control" name="idiomaJuego" id="idioma" required>
    
                </div>
                <div class="form-group col-12 col-md-6 col-lg-6">    
                    <label form="categoria">Categoria del juego: </label> 
                    <input type="tex" placeholder="Ingrese la categoria del juego" class="form-control" name="categoriaJuego" id="categoria" required>
    
                </div>
                <div class="form-group col-12 col-md-6 col-lg-6">    
                    <label form="subtituloJuego">Idioma subtitulo del juego: </label> 
                    <input type="tex" placeholder="Ingrese el idioma del subtitulo del juego" class="form-control" name="subtitulo" id="subtituloJuego" required>
    
                </div>
                <div class="form-group col-12 col-md-6 col-lg-6">    
                    <label form="fecha">Fecha de lanzamiento: </label> 
                    <input type="tex" placeholder="Ingrese fecha de lanzamiento" class="form-control" name="fechaLanzam" id="fecha" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12 col-md-6 col-lg-6">
                    <label form="stock">Cantidad de Stock</label> 						
                    <input type="number" id="stock" class="form-control" name="stock" placeholder="Ingrese la cantidad de Stock" required/> 
                </div>   
                <br>
                <div class="form-group col-12 col-md-6 col-lg-6">
                    <label form="descuento">Descuento %</label> 						
                    <input type="number" id="descuento"  class="form-control" name="descuento" placeholder="Ingrese porcentaje del juego"/> 
                </div>
                  
                <div class="form-group col-12 col-md-6 col-lg-6">            
                    <label form="imagen">Imagen del juego:</label> 
                    <input type="url" id="imagen" name="imagen" class="form-control" placeholder="Ingrese el url de la imagen" required/>             
                </div>

                <div class="form-group col-12 col-md-6 col-lg-6">    
                    <label form="detalle">Descripcion corta: </label> 
                    <input type="tex" placeholder="Ingrese descripcion corta" class="form-control" name="detalle" id="detalle" required>
    
                </div>
            </div>

            <article class="row col-12 botones">
                <div class="col-6 agregar">
                    <input type="submit" value="Agregar " class="botonAgregarProducto"/>  
                </div> 
                <div class="col-6 cancelar">
                        <input type="reset" value="Cancelar" class="botonCancelar"/> 
                </div> 
            </article>
    
     
        </form>
    </div>

        <!--caja con el contenido principal de footer-->
         <!--FOOTER: PIE DE PAGINA-->
<%- include("./partials/footer") %> 