<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuarios</title>
        <!-- ETIQUETAS LINK PARA VINCULAR CON ONTAWESOME Y BOOTSTRAP-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            
        <link rel='stylesheet' href='/stylesheets/registroUsuarios.css' />
        <link rel="shortcut icon " href="images/logo.ico " type="image/x-icon ">
</head>

<body>
    <%- include("./partials/header") %> 

<div class="formularioIngresa">
    <div class="container">
        <div class="row">
            <form class="FormLogin col-12 col-md-8 col-lg-8" action="/users/login" method="POST">
                <div class="row"> 
                    <div class="col-12 Registro">     
                        <div class="col-12">
                            <h3>Ingresar</h3>
                        </div>   
                    </div>
                </div>  
                <div class="form-group">            
                    <label form="usu_email">email:</label> 
                    <input type="email" id="usu_email" name="usu_email" class="form-control" placeholder="Ingrese su email" required/>             
                </div>
                
                <div class="form-group">    
                    <label form="usu_password">Ingrese una Contraseña</label> 
                    <input type="password" placeholder="Ingrese una Contraseña" class="form-control" name="usu_password" id="usu_password" required>
                    <p>
                        <a href="/"><input type="submit" value="Ingresar" class="botonesRegistrarse"/></a> 
                    </p>    
            </form>
        </div>
    </div>
</div>











 <div class="formularioRegistro">  

    <div class="container" >
     <div class="row">
        <form class="FormLogin col-12 col-md-8 col-lg-8" action="/users/registroUsuarios" method="POST">
            <div class="row"> 
                <div class="col-12 Registro">     
                    <div class="col-12">
                        <h3>Registrarme</h3>
                    </div>   
                </div>
            </div>   

            <div class="row"> 
                <div class="col-12 col-md-6">
                    <button type="button" class="btn btn-primary btnLoginRedesFacebook" >Registrarse con Facebook <i class="fab fa-facebook-square"></i></button>
                    
                </div>  
                <div class="col-12 col-md-6">                    
                    <button type="button" class="btn btn-light btnLoginRedesGoogle">Registrarse con Google <i class="fab fa-google-plus-square"></i></button>
                </div>  
            </div>

            <h6>O registrese Manulamente</h6>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese su Nombre" required>
                </div>            
            
                <div class="form-group col-md-6">
                <label for="apellido">Apellido:</label>
                <input type="text" name="Apellido" id="Apellido" class="form-control" placeholder="Ingrese su Apellido" required>
                </div>    
            </div>


            <div class="form-row">
                    <div class="form-group col-md-6">
                    <label form="usu_CodigoArea">Codigo de Area</label> 						
                    <input type="number_format" id="usu_CodigoArea" class="form-control" name="usu_CodigoArea" placeholder="Ingrese su Codigo de Area ej: 011"/> 
                </div>   
                <br>
                <div class="form-group col-md-6">
                    <label form="usu_Telefono">Telefono</label> 						
                    <input type="text" id="usu_Telefono"  class="form-control" name="usu_Telefono" placeholder="Ingrese su telefono"/> 
                </div>
            </div>    

            <div class="form-group">            
                <label form="usu_email">email:</label> 
                <input type="email" id="usu_email" name="usu_email" class="form-control" placeholder="Ingrese su email" required/>             
            </div>
            
            <div class="form-group">    
                <label form="usu_password">Ingrese una Contraseña</label> 
                <input type="password" placeholder="Ingrese una Contraseña" class="form-control" name="usu_password" id="usu_password" required>
            
                <label form="usu_passwordConf">Confirme su Contraseña</label> 
                <input type="password" placeholder="Confirme su Contraseña" class="form-control"  name="usu_passwordConf" id="usu_passwordConf" required>
            </div>


            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Aceptar los terminos
                  </label>
                </div>
              </div>

            <p>
                <input type="submit" value="Registrarme" class="botonesRegistrarse"/> 
            </p>    

            
            <a href="/"><button type="button" class="btn btn-dark " >  Cerrar y Volver</button></a>

    </form>
 </div> <!--cierra el row -->
</div>
</div>

<%- include("./partials/footer") %> 
</body>

</html>