<footer class="container-fluid">
    <!--caja con el contenido principal de footer-->
    <div class="row footer">            
        <div class="col-12 col-md-4 col-lg-4">
            <article>
                <i class="fas fa-map-marked"></i>
                <h4>Sucursales</h4>
                <p>Direccion: Calle 90- Bs As</p>      
                <p>Direccion: Av. San Martin 8950- Cordoba</p>      
                <p>Direccion: Av. Jujuy 5215- Mendoza</p>      
            </article>
        </div>
        
        <div class="col-12 col-md-4 col-lg-4">
            <article>
                <i class="fas fa-share-alt"></i>
                <h4>Seguinos en nuestras Redes Sociales</h4>                                      
                    <div class="redes">
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-facebook-square "></i>
                        <i class="fab fa-spotify "></i>
                        <i class="fab fa-apple "></i>
                        <i class="fab fa-amazon "></i>
                        <i class="fab fa-instagram "></i>
                    </div>                              
            </article>               
        </div>            
        <div class="col-12 col-md-4 col-lg-4">
            <article>
                <i class="fas fa-broadcast-tower "></i>
                <h4>Medios de Comunicacion</h4>
                <p>Telefono: 11 6592-2313</p>
                <p>e-mail: MPKGames@MPKGames.com</p>
            </article>
        </div>
    </div>

    <div class="col-12">                  <!--contiene copyright-->
        <p class="copyright">Copyright © 2020 MPK Games S.R.L.</p>
    </div>
</footer>

<!--scripts de bootstrap-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>
<script src="/javascripts/usersFront.js"></script>

</body>


</html>